.version.index /* version checker */
{
	color: #0000E7;
	background-color: #2F7901;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#u75
{
	z-index: 2;
	min-height: 92px;
	background-color: #29ABE2;
	padding-bottom: 8px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u77
{
	z-index: 4;
	width: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 74px;
}

#u83-5
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 173px;
}

#u85-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 685px;
}

#u130-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 910px;
}

#u75-bw
{
	z-index: 2;
	min-height: 92px;
}

#pu87
{
	width: 0.01px;
	margin-left: -67px;
	margin-top: 19px;
}

#u87
{
	z-index: 15;
	width: 547px;
	min-height: 399px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu129-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 624px;
}

#u129-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-left: 151px;
	position: relative;
}

#tab-panelu89
{
	z-index: 16;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u103
{
	z-index: 17;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u108
{
	z-index: 18;
	width: 153px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u108:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u110-4
{
	z-index: 19;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u108:hover #u110-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u112
{
	z-index: 23;
	width: 153px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
	border-width: 1px 0px 1px 1px;
}

#u112:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u108.TabbedPanelsTabSelected,#u112.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u113-4
{
	z-index: 24;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u112:hover #u113-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u104
{
	z-index: 28;
	width: 153px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u104:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u104.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u105-4
{
	z-index: 29;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u104:hover #u105-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u108.TabbedPanelsTabSelected #u110-4,#u112.TabbedPanelsTabSelected #u113-4,#u104.TabbedPanelsTabSelected #u105-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u90
{
	z-index: 33;
	width: 461px;
	background-color: transparent;
	position: relative;
}

#u95
{
	z-index: 34;
	width: 459px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 169px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u96
{
	z-index: 41;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u98-6
{
	z-index: 35;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u99
{
	z-index: 43;
	width: 459px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 169px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u101
{
	z-index: 50;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u100-6
{
	z-index: 44;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u91
{
	z-index: 52;
	width: 459px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 169px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u93
{
	z-index: 59;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u96_img,#u101_img,#u93_img
{
	padding-right: 1px;
}

#u92-6
{
	z-index: 53;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u98-2,#u100-2,#u92-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u98-4,#u100-4,#u92-4
{
	line-height: 20px;
	color: #999999;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u76
{
	z-index: 3;
	height: 50px;
	background-color: #29ABE2;
	position: fixed;
	bottom: -1px;
}

#u76-bw
{
	z-index: 3;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

